# Binaries for programs and plugins
main

libuv_test
*.exe
*.exe~
*.so
*.dylib
*.dll
./src/src
.v-analyzer
docs/html

main.txt

include/*

vlibuv/thirdparty/*
!vlibuv/thirdparty/src
!vlibuv/thirdparty/include
!vlibuv/thirdparty/LICENSE*
!vlibuv/thirdparty/README*

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
